.vs
Investing.WebApp/bin
Investing.WebApp/obj
/Investing.Services/bin/Debug/net8.0
/Investing.Services/obj
/Investing.Shared/bin/Debug/net8.0
/Investing.Shared/obj
/Investing.Infrastructure/bin/Debug/net8.0
/Investing.Infrastructure/obj
/Investing.Domain/bin/Debug/net8.0
/Investing.Domain/obj
/Investing.Repository/obj
/Investing.Repository/bin/Debug/net8.0
/Investing.Application/bin/Debug/net8.0
/Investing.Application/obj
